<!DOCTYPE html>
<html lang="en" ng-app="mModule">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/angular.min.js"></script>
</head>
<body ng-controller="HomeController">
<h1>{{message}}</h1> 
{{data}}
 
<div ng-controller='FruitController'> 
<h3>{{fruitList}}</h3>
<ul ng-repeat='x in fruitList'>
    <li>{{x}}</li>
</ul>
</div>
<div ng-controller="MobileController">
{{objMobile}}
<h3>{{objMobile.mname}}</h3>
<h3>{{objMobile.price | currency : "Rs. "}}</h3>

</div>
<div ng-controller ="MobilesController">
    <ul ng-repeat="x in mObj">
        <li>{{x}}</li>

    </ul>
</div>
    <script src="js/app.js"></script>
</body>
</html>